{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
<!-- Password Reset Confirm form -->
<div class="container password_reset_confirm_container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 mt-4">
        <h2> Set New Password </h2>

        {% if validlink %}
            <form method="POST">
            {% csrf_token %}
            {{ form.email.errors }}
            {{ form | as_bootstrap }}
            <div class="text-center">   
                <button type="submit" class="btn btn-success mb-4"> Save </button>
            </div>
            </form>
        {% else %}
            <p style="color:red;"> Invalid token. </p>
            <p><a href="{% url 'password_reset' %}"> Request a new password reset token. </a></p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}