{% extends 'base.html' %}

{% block content %}
<!-- Password Reset Complete form -->
<div class="container reset_complete_container text-center mt-4">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <fieldset>    
            <p> Your password has been successfully reset. You can now log in.</p>
            <p><a href="{{ login_url }}" class="btn btn-success"> Log in to TRIUMPHANT TRIUMPHS </a></p>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}