{% extends "base.html" %}

{% block content %}
<!-- Password Reset Done form -->
<div class="container reset_done_container text-center mt-4">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <fieldset>
            <p> We have emailed instructions for setting your password to the e-mail address you used to register. </p>
            <p> Please check your email inbox or spam folder. </p>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}