{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!-- HANDBRAKE -->
<div class="container handbrake-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a>
        </li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'brakes' %}"> Brake Hydraulics</a></li>
        <li class="breadcrumb-item"> <a href="{% url 'brakes_fr' %}"> Front & Rear brakes</a></li>
        <li class="breadcrumb-item active"> Handbrake </li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Handbrake </h2>
    </br>

    <!-- Parts Diagram(s) -->
    <div class="row pl-4 pr-4 justify-content-center text-center">
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram" data-toggle="magnify" src="{% static 'img/brakes/handbrake.gif' %}" alt="scparts">
            <h2 class="mb-2"> Handbrake </h2>
        </div>
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

<!-- BACK TO TOP -->
{% include 'bttop.html' %} 
{% endblock %}