{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- FUEL PIPES -->
<div class="container fuel-pipes-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'fuel' %}"> Carburettors </a></li>
        <li class="breadcrumb-item active">Fuel Pipes </li>
        <li class="breadcrumb-item"> <a href="{% url 'fuel_tank' %}"> Fuel Tank & Pump </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Fuel pipes </h2>
    </br>

    <!-- Parts Diagram(s) -->
    <div class="row  pl-4 pr-4 justify-content-center text-center">
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram" data-toggle="magnify" src="{% static 'img/fuel/Fuel pipes MK3 - all European specifications.gif' %}" alt="scparts">
            <h2 class="mb-2"> Fuel pipes Mk3 </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram" data-toggle="magnify" src="{% static 'img/fuel/Fuel pipes MK3 - all European specifications.gif' %}" alt="scparts">
            <h2 class="mb-2"> Fuel pipes Mk4 </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram mt-4" data-toggle="magnify" src="{% static 'img/fuel/Fuel pipes MK4 - European specification from January 1973 to December 1974.gif' %}" alt="scparts">
            <h2 class="mb-2"> Fuel pipes Mk4 </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram mt-4" data-toggle="magnify" src="{% static 'img/fuel/Fuel pipes 1500 - European specifications from December 1974.gif' %}" alt="scparts">
            <h2 class="mb-2"> Fuel pipes 1500 </h2>
        </div>
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

<!-- BACK TO TOP -->
{% include 'bttop.html' %} 
{% endblock %}