{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!-- GEARBOX 1500 -->
<div class="container gearbox-1500-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'clutch' %}"> Clutch </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'gearbox' %}"> Gearbox Mk3 </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'gearbox_mk4' %}"> Gearbox Mk4 </a></li>
        <li class="breadcrumb-item active"> Gearbox 1500 </li>
        <li class="breadcrumb-item"> <a href="{% url 'overdrive' %}"> Overdrive </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Gearbox 1500 </h2>
    <p class="pl-4 pr-4"> From chassis number FH75001 and from FM28001( December 1974) - gearbox code: FR or FT. Characteristic: single rail type </p>
    </br>

    <!-- Parts Diagram(s) -->
    <div class="row  pl-4 pr-4 text-center">
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram" data-toggle="magnify" src="{% static 'img/gearbox_1500/4 synchro gearbox, inner - Spitfire 1500.gif' %}" alt="scparts">
            <h2 class="mb-2"> Gearbox inner 1500 </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class="img-fluid parts-diagram" data-toggle="magnify" src=" {% static 'img/gearbox_1500/4 synchro gearbox, outer - Spitfire 1500.gif' %}" alt="scparts">
            <h2 class="mb-2"> Gearbox outer 1500 </h2>
        </div>
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

<!-- BACK TO TOP -->
{% include 'bttop.html' %} 
{% endblock %}