{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!-- INSTRUMENTS & SWITCHES -->
<div class="container instruments-switches-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'electrical' %}"> Battery </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'alt_dyno' %}"> Charging & Starting </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'ignition' %}"> Ignition </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'heating' %}"> Heating </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'lamps' %}"> Lamps </a></li>
        <li class="breadcrumb-item active"> Intruments & Switches </li>
        <li class="breadcrumb-item"> <a href="{% url 'wshld_wipe_wash' %}"> Windscreen Wipers & Washer </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'wire_int' %}"> Wiring & Internal Electrics </a></li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Instruments & switches </h2>
    <br>

    <!-- Parts Diagram(s) -->
    <div class="row  pl-4 pr-4 justify-content-center text-center">
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram" data-toggle="magnify" src="{% static 'img/electrical/Instruments - MK3.gif' %}" alt="scparts">
            <h2 class="mb-2"> Instruments - Mk3 </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class="img-fluid parts-diagram" data-toggle="magnify" src="{% static 'img/electrical/Switches and steering lock - MK3.gif' %}" alt="scparts">
            <h2 class="mb-2"> Switches - Mk3 </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram mt-4" data-toggle="magnify" src="{% static 'img/electrical/Instruments - MK4.gif' %}" alt="scparts">
            <h2 class="mb-2"> Instruments - Mk4 </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram mt-4" data-toggle="magnify" src="{% static 'img/electrical/Switches and steering lock - MK4, 1500 to March 1977.gif' %}" alt="scparts">
            <h2 class="mb-2"> Switches - Mk4 </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram mt-4" data-toggle="magnify" src="{% static 'img/electrical/Instruments - 1500.gif' %}" alt="scparts">
            <h2 class="mb-2"> Instruments - 1500 </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class="img-fluid parts-diagram mt-4" data-toggle="magnify" src="{% static 'img/electrical/Switches and steering lock - 1500 from March 1977.gif' %}" alt="scparts">
            <h2 class="mb-2"> Switches - 1500 </h2>
        </div>
    </div>
    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

<!-- BACK TO TOP -->
{% include 'bttop.html' %} 
{% endblock %}