{% load static %} 
{% load product_tools %}

<!-- Parts Cards -->
<div class="row p-4">
    <!-- loop through the contents of products_list, 
         and assigns the current Product object in the list to the 'product' variable. -->
    {% for product in products_list %}
    <div class="col-md-3 p-2">
        <div class="card h-100 mb-3 parts-cards">
            <div class="card-body">
                <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top p-1" alt="scparts">
                <h3 class="card-title text-center mt2"> <u>{{ product.part_name }}</u> </h3>
                <p class="card-text"> <strong> Part no: </strong> {{ product.part_number }} </p>
                <p class="card-text"> <strong> Model: </strong> {{ product.vehicle_model }} </p>
                <p class="card-text"> <strong> Required: </strong> {{ product.required }} </p>
                <p class="card-text"> <strong> Diagram number: </strong> {{ product.diagram_number }} </p>
                <p class="card-text text-wrap"> <strong> Product description: </strong>
                    <br> {{ product.description }} </p>
                <p class="card-text"> <strong> £ {{ product.price }} </strong> </p>
            </div>
            
            <!-- Javascript buttons pass (product.part_number & csrf_token) ---> 
            <div class="card-footer text-center">
                    <button data-part-number={{ product.part_number }} data-token="{{ csrf_token }}"
                        id ="b-{{forloop.counter}}"
                        class="btn disliked-button" data-toggle="tooltip" title="Vote disliked">
                        <i class="fas fa-thumbs-down fa-2x"></i>
                        
                        <!-- Diskliked votes ---> 
				        <span id="bb-{{forloop.counter}}" class="disliked_num">
    			             {% get_disliked product.id %} 
    			        </span>
			        </button>
			         
                   <button data-part-number="{{ product.part_number }}" data-token="{{ csrf_token }}"
                        id ="a-{{forloop.counter}}"
                        class="btn liked-button" data-toggle="tooltip" title="Vote liked">
				        <i class="fas fa-thumbs-up fa-2x"></i>
				        
				        <!-- Liked votes ---> 
				        <span id="aa-{{forloop.counter}}" class="liked_num">
    			             {% get_liked product.id %} 
    			        </span>
			        </button>
			        
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group p-3">
                        <p>Qty : &nbsp;</p>
                        <input name="quantity" type="number" min="1" max="999" value="1" class="form-control" placeholder="Quantity">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit"> Add to My Cart </button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>

{% block head_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<!-- Disliked / Liked Button Javascript -->
<script type="text/javascript" src="{% static 'js/ratings.js' %}"></script>
{% endblock %}