{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- SUSPENSION -->
<div class="container suspension-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'drive_line' %}"> Drive Line </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'steering' %}"> Steering </a></li>
        <li class="breadcrumb-item active"> Suspension</li>
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Suspension </h2>
    </br>

    <!-- Parts Diagram(s) -->
    <div class="row  pl-4 pr-4 justify-content-center text-center">
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram" data-toggle="magnify" src="{% static 'img/steering and suspension/Suspension and shock absorber - MK3.gif' %}" alt="scparts">
            <h2 class="mb-2"> Suspension Mk3 </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram" data-toggle="magnify" src="{% static 'img/steering and suspension/Suspension and shock absorber - MK4 and 1500.gif' %}" alt="scparts">
            <h2 class="mb-2"> Suspension Mk4 </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram mt-4" data-toggle="magnify" src="{% static 'img/steering and suspension/Shock absorber and coil spring.gif' %}" alt="scparts">
            <h2 class="mb-2"> Shock absorber & coil spring </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram mt-4" data-toggle="magnify" src="{% static 'img/steering and suspension/Vertikal link and wheel hub.gif' %}" alt="scparts">
            <h2 class="mb-2"> Vertical link & wheel hub </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram mt-4" data-toggle="magnify" src="{% static 'img/steering and suspension/Wishbone and anti roll bar.gif' %}" alt="scparts">
            <h2 class="mb-2"> Wishbone & anti roll bar </h2>
        </div>
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

<!-- BACK TO TOP -->
{% include 'bttop.html' %} 
{% endblock %}