{% extends 'base.html' %} 
{% load static %} 

{% block content %}
 <!-- SEATS -->
<div class="container seats-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'products' %}"> Products </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'interior' %}"> Carpets </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'dashboard' %}"> Dashboard </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'hardtop' %}"> Hardtop </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'hood' %}"> Hood & Tonneau </a></li>
        <li class="breadcrumb-item"> <a href="{% url 'seats' %}"> Seats </a></li>
        <li class="breadcrumb-item active"> Trim Kits </li>
        
    </ol>

    <!-- Parts Heading -->
    <h2 class="pl-4 pr-4"> Trim Kits </h2>
    </br>

    <!-- Parts Diagram(s) -->
    <div class="row  pl-4 pr-4 justify-content-center text-center">
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram" data-toggle="magnify" src="{% static 'img/interior/Trim kits MK3.gif' %}" alt="scparts">
            <h2 class="mb-2">Trim kits Mk3</h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram" data-toggle="magnify" src="{% static 'img/interior/Trim kits MK4 - all models except Germany to December 1972.gif' %}" alt="scparts">
            <h2 class="mb-2"> Trim kits Mk4 </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram mt-4" data-toggle="magnify" src="{% static 'img/interior/Trim kits MK4 - all German models, all other countries from January 1973.gif' %}" alt="scparts">
            <h2 class="mb-2"> Trim kits Mk4 </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class=" img-fluid parts-diagram mt-4" data-toggle="magnify" src="{% static 'img/interior/Trim kits 1500 - from December 1974.gif' %}" alt="scparts">
            <h2 class="mb-2"> Trim kits 1500 </h2>
        </div>
    </div>

    <!-- Parts Cards -->
    {% include 'parts_cards.html' %}
</div>

<!-- BACK TO TOP -->
{% include 'bttop.html' %} 
{% endblock %}