{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<title> Fullstack Frameworks with Django Project "ABOUT.HTML" (Paul Bennett) </title>

<div class="container about-container">
    <ol class="breadcrumb bcrumb-margins">
        <li class="breadcrumb-item"> <a href="{% url 'index' %}"> <i class="fas fa-home fa-lg"></i> </a></li>
        <li class="breadcrumb-item active"> About </li>
    </ol>
        
<!-- Model Overview Section -->
<section class="about-section">
    <div class="container" id="about">        
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p> <img class="img-fluid" src="{% static 'img/vehicles/Triumph Spitfire Magenta.svg' %}" alt="Image of colours" width="20%"> </p>
                <p class="text-uppercase text-left about-heading">  <strong> About Triumphant Triumphs </strong> </p>
                
                <p> <strong>Triumphant Triumphs</strong> is a small company established in early 2019 that supplies good quality parts 
                            and accessories for restoring and maintenance of your Triumph Spitfire MK3, MKIV & 1500. </br>
                <img class="img-fluid mt-4" src="{% static 'img/vehicles/ian-schneider-66374-unsplash.jpg' %}" 
                       alt="Image of triumph" width="40%" align="right" id="photo-right"> </p>
                <div>
                    <p>
                    We are a family run Business build upon our passion for owning, driving and maintaining classic triumphs so we know how important it is 
                    to be able to obtain the best parts currently available, at the right price and delivered in a timely manner. </br> 
                    We currently stock parts and accessories including: bumpers, body, engine, seats, brakes, clutches, 
                    hardtops, windscreen, headlamps, mats, exhausts, wheels, gearboxes, suspension, and interior parts for all your classic car needs. 
                    </p>
                </div>
                    
            </div>
        </div>
    </div>
</section> 

<!-- Online Section -->
<section class="online-section">
    <div class="container mt-4" id="online">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <img class="img-fluid" src="{% static 'img/vehicles/neon-1191281_640.jpg' %}" alt="Image of mk1" width="40%" align="left" id="photo-left"> 
                <div>
                    <p> 
                    Our parts and accessories can be purchased through our online web store at very competitive prices.  
                    if there is a specific item that you desire but are not able to find it on our website, please contact us with your enquiry 
                    and we will do our best to provide you with a competitive quotation if the parts are able to be sourced. </br>
                    Ordering parts and spares for your Classic Triumph online is very easy as it offers you convenience, choice and flexibility in what you order.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</section>

<!-- Postage Section -->
<section class="postagee-section">
    <div class="container mt-4" id="online">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <img class="img-fluid" src="{% static 'img/vehicles/post-976115_1280.png' %}" alt="Post" width="40%" align="right"> 
                <div class="center">
                    <p> 
                    We ensure all parts are adequately packaged for postage and ensure your order is processed as quickly as possible 
                    If you have any specific delivery requests then please email us details of your requirements before committing to making a Order. 
                    Contact us today to find out how we can help you. 
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</section>
</div> 
 
<!-- FOOTER -->
{% include 'footer.html' %}
{% endblock %}