<!-- FOOTER -->
<footer class="bg-info text-white" id="footer-bottom">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 mt-3">
                <span class="copyright"> <small> Copyright &copy; Triumphant Triumphs 2019 </small> </span>
            </div>
            <div class="col-md-4 mt-3">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item"> <a class="footer-link" href="#"> <i class="fab fa-twitter"></i> </a></li>
                    <li class="list-inline-item"> <a class="footer-link" href="#"> <i class="fab fa-facebook-f"></i> </a></li>
                    <li class="list-inline-item"> <a class="footer-link" href="#"> <i class="fab fa-linkedin-in"></i> </a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-2">
                <p> <small> Sandstone is a free to use, open source Bootstrap theme created by <a class="footer-link" href="http://bootswatch.com"> Bootswatch </small> </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- BACK TO TOP -->
{% include 'bttop.html' %}  