{% load staticfiles %}

<!-- NAVIGATION NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"> Triumphant Triumphs </a>
        <button class="navbar-toggler navbar-toggler-right" 
                 type="button" 
                 data-toggle="collapse" 
                 data-target="#navbarResponsive" 
                 aria-controls="navbarResponsive" 
                 aria-expanded="false" 
                 aria-label="Toggle navigation">
                 Menu
                 <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive"> 
          <ul class="navbar-nav mr-auto ml-auto">
              <li class="nav-item"> <a class="nav-link" href="/"> <i class="fas fa-home fa-2x"></i> </a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'about' %}"> <i class="fas fa-info-circle"></i> About </a></li>
              
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download"> <i class="fas fa-wrench"></i> Parts <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" href="/products/categories"> All Parts </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/products/body"> Body Parts & Fittings </a>
                <a class="dropdown-item" href="/products/brakes"> Brake System </a>
                <a class="dropdown-item" href="/products/clutch"> Clutch, Gearbox & Overdrive </a>
                <a class="dropdown-item" href="/products/cooling"> Cooling system </a>
                <a class="dropdown-item" href="/products/electrical"> Electrial </a>
                <a class="dropdown-item" href="/products/engine"> Engine </a>
                <a class="dropdown-item" href="/products/exhaust"> Exhaust System </a>
                <a class="dropdown-item" href="/products/external"> External </a>
                <a class="dropdown-item" href="/products/fuel"> Fuel system </a>
                <a class="dropdown-item" href="/products/interior"> Interior </a>
                <a class="dropdown-item" href="/products/road_wheels"> Roadwheels </a>
                <a class="dropdown-item" href="/products/steering"> Steering & Suspension </a>
              </div>
            </li>
          
            <!-- If user is not logged in show Register / Login options -->   
            {% if user.is_authenticated %} 
            {% if user.is_superuser %}
              <li class="nav-item"><a class="nav-link" href="/admin/"> <i class="fas fa-lock"></i> Admin </a></li>
            {% endif %}
              <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}"> <i class="fa fa-sign-out-alt"> </i> Log Out ({{ user.username }}) </a></li>
            {% else %}   
              <li class="nav-item"> <a class="nav-link" href="{% url 'registration' %}"> <i class="fa fa-user-plus"></i> Register </a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'login' %}"> <i class="fa fa-sign-in-alt"></i> Log In </a></li>
            {% endif %}
              <li class="nav-item"> <a class="nav-link" href="{% url 'view_cart' %}"> <i class="fa fa-shopping-cart"></i> Cart
                    {% if product_count > 0 %}
                      <label class="badge badge-pill">{{ product_count }}</label>
                    {% endif %}
                  </a>
              </li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'contact' %}"> <i class="fas fa-inbox"></i> Contact </a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'charts' %}"> <i class="fas fa-chart-line"></i> Charts </a></li>
          </ul>
        </div>
      </div> 
    </nav>
<!-- END NAVIGATION NAVBAR --> 